*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
 }

body {
    background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(155, 18, 18, 0.5)), url('./home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

h1{
    color:  white;
    font-size: 50px;
}